
<div class="text-center">
    <section class="text-center">
        <h2 class="title">Sign up</h2>
        <form action="login-box">
            <label for="username">First Name</label>
            <input type="text">
            <label for="username">Last Name</label>
            <input type="text">
            <label for="username">Email</label>
            <input type="email">
            <label for="password">password</label>
            <input type="text">
            <label for="password">conform password</label>
            <input type="text">
            <button class="#">Signup</button>
            <div>
                <!-- <a href="#" target="_blank" rel="noopener">forgot password</a> -->
                
                <a href="#" target="_blank" rel="noopener">Aleady have a account?</a>
            </div>

        </form>
    </section>
</div>





