
<div class="text-center">
    <section class="text-center">
        <h2 class="title">Sign up</h2>
        <form action="login-box">
            <label for="username">username or email</label>
            <input type="email">
            <label for="password">password</label>
            <input type="text">
           
            <button class="#">login</button>
            <div>
                <!-- <a href="#" target="_blank" rel="noopener">forgot password</a> -->
               
                <a href="#" target="_blank" rel="noopener">Create a Account ?</a>
            </div>

        </form>
    </section>
</div>





